<?php
$imgPath = Mage::getBaseUrl('media')."layouts/images/";
$imgRetinaPath = Mage::getBaseUrl('media')."layouts/retinaimages/";
$helper = Mage::helper('cms');
$processor = $helper->getBlockTemplateProcessor();
$footer_links = unserialize(Mage::getStoreConfig('meigee_bizarre_general/footer/footer_links'));
$count = count($footer_links);
?>
<div class="footer-topline">
    <div class="container_12">
        <div class="grid_12">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_social_link')->toHtml(); ?>
            <div class="footer-links">
                <span><?php echo $this->__('Footer links') ?><i class="fa fa-bars"></i></span>
                <ul>
                    <?php $i = 1; foreach ($footer_links as $url): ?>
                    <li <?php echo ($count == $i) ? 'class="last"' : '' ?>><a href="<?php echo $url['link'] ?>"><?php echo $url['label'] ?></a></li>
                    <?php $i++; endforeach; ?>                    
                    <li class="remover"><i class="fa fa-times"></i></li>                    
                </ul>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</div>
<div class="footer-second-line">
    <div class="container_12">
        <div class="grid_12">
            <?php
            $footer_left_block = $this->getLayouts()->addBlockKeyFilter('footer_left_block')->getFirstItem();
            if($footer_left_block->getLayoutsId()):
            ?>
            <div class="grid_3 alpha">
                <div class="footer-logo-wrapper"><a class="footer-logo" href="<?php echo ($footer_left_block->getLink() != '') ? $footer_left_block->getLink() : Mage::getBaseUrl(); ?>"><img src="<?php echo $imgPath.$footer_left_block->getImage() ?>" alt="<?php echo $footer_left_block->getTitle() ?>" data-srcx2="<?php echo $imgRetinaPath.$footer_left_block->getImageRetina() ?>" /></a></div>
                <div class="footer-info">
                    <?php echo $processor->filter($footer_left_block->getContent()) ?>
                </div>
            </div>
            <?php endif; ?>
            <div class="grid_9 omega">
                <div class="grid_6 alpha">
                    <div class="top">
                        <?php
                        $footer_center_block_products = $this->getLayouts()->addBlockKeyFilter('footer_center_block_products')->getFirstItem();
                        if($footer_center_block_products->getLayoutsId()):
                        ?>
                        <div class="grid_3 alpha">
                            <div class="footer-block-title">
                                <h2><?php echo $footer_center_block_products->getTitle() ?></h2>
                            </div>
                            <?php echo $processor->filter($footer_center_block_products->getContent()) ?>
                        </div>
                        <?php endif; ?>
                        <?php
                        $footer_center_block_tweets = $this->getLayouts()->addBlockKeyFilter('footer_center_block_tweets')->getFirstItem();
                        if($footer_center_block_tweets->getLayoutsId()):
                        ?>
                        <div class="grid_3 omega">
                            <div class="footer-block-title">
                                <h2><?php echo $footer_center_block_tweets->getTitle() ?></h2>
                            </div>
                            <?php echo $processor->filter($footer_center_block_tweets->getContent()) ?>
                        </div>
                        <?php endif; ?>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="bottom">
                        <?php
                        $footer_center_block_help = $this->getLayouts()->addBlockKeyFilter('footer_center_block_help')->getFirstItem();
                        if($footer_center_block_help->getLayoutsId()):
                        ?>
                        <div class="grid_3 alpha">
                            <div class="footer-block-title">
                                <h2><?php echo $footer_center_block_help->getTitle() ?></h2>
                            </div>
                            <div class="custom-footer-content">
                                <?php echo $processor->filter($footer_center_block_help->getContent()) ?>
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php
                        $footer_center_block_tags = $this->getLayouts()->addBlockKeyFilter('footer_center_block_tags')->getFirstItem();
                        if($footer_center_block_tags->getLayoutsId()):
                        ?>
                        <div class="grid_3 omega">
                            <div class="footer-block-title">
                                <h2><?php echo $footer_center_block_tags->getTitle() ?></h2>
                            </div>
                            <?php echo $processor->filter($footer_center_block_tags->getContent()) ?>
                        </div>
                        <?php endif; ?>
                        <div class="clear">&nbsp;</div>
                    </div>
                </div>
                <?php
                $footer_right_block = $this->getLayouts()->addBlockKeyFilter('footer_right_block')->getFirstItem();
                if($footer_right_block->getLayoutsId()):
                ?>
                <div class="grid_3 omega">
                    <div class="footer-block-title">
                        <h2><?php echo $footer_right_block->getTitle() ?></h2>
                    </div>
                    <?php echo $processor->filter($footer_right_block->getContent()) ?>
                </div>
                <?php endif; ?>
                <div class="clear">&nbsp;</div>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</div>