<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');
 $footer_status = $meigee_bizarre_general['footer']['footer_status'];
?>
<footer id="footer">
	<?php if($footer_status == 1): ?>
		<?php echo $this->getLayout()->createBlock("layouts/layouts")->setTemplate("page/html/footer_custom.phtml")->toHtml(); ?>
	<?php endif; ?>
	<div class="footer-bottom">
		<div class="container_12">
			<div class="grid_12">
				<?php echo $this->getChildHtml('store_switcher'); ?>
				<?php echo $this->getChildHtml('store_language'); ?>
				<?php echo $this->getChildHtml('currency'); ?>
				<address><?php echo $this->getCopyright(); ?></address>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</footer>