<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<?php
	$meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');
    $customlogo = $meigee_bizarre_general['customlogo'];
    $mediaurl = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('mediaurl');
	$loginAjaxStatus = $meigee_bizarre_general['loginajax']['status'];
	$customer = Mage::getSingleton('customer/session');
	$toplinks = $meigee_bizarre_general['toplinks'];
	$stickyStatus = $meigee_bizarre_general['header']['floatingheader'];
	$stickyLogo = $meigee_bizarre_general['header']['floatingheader_logo'];
	switch ($stickyLogo) {
		case 0:
			$stickyLogo = '';
		break;
		case 1:
			$stickyLogo = 'sticky-logo';
		break;
		case 2: 
			$stickyLogo = 'sticky-logo-all';
		break;
	}
	$stickyNav = $meigee_bizarre_general['header']['floatingheader_menu'];
	switch ($stickyNav) {
		case 0:
			$stickyNav = '';
		break;
		case 1:
			$stickyNav = 'sticky-nav';
		break;
		case 2: 
			$stickyNav = 'sticky-nav-all';
		break;
	}
	$stickySearch = $meigee_bizarre_general['header']['floatingheader_search'];
	switch ($stickySearch) {
		case 0:
			$stickySearch = '';
		break;
		case 1:
			$stickySearch = 'sticky-search';
		break;
		case 2: 
			$stickySearch = 'sticky-search-all';
		break;
	}
	$stickyCart = $meigee_bizarre_general['header']['floatingheader_cart'];
	switch ($stickyCart) {
		case 0:
			$stickyCart = '';
		break;
		case 1:
			$stickyCart = 'sticky-cart';
		break;
		case 2: 
			$stickyCart = 'sticky-cart-all';
		break;
	} 
?>

<header id="sticky-header" class="header floating">
	<div class="menu-line">
		<div class="container_12">
			<div class="grid_12">
				<?php if ($customlogo['small_logo_status'] == 0): ?>
				<h2 class="small-logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getSkinUrl('images/small_logo.png') ?>" <?php echo Mage::helper('ThemeOptionsBizarre/Retina')->getRetinaData('small_logo'); ?> alt="<?php echo $this->getLogoAlt() ?>" /></a></h2>
				<?php else:?>
				<h2 class="small-logo"><strong><?php echo $customlogo['logo_alt']; ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $customlogo['logo_alt']; ?>" class="logo"><img src="<?php echo $mediaurl.$customlogo['small_logo']; ?>" <?php echo Mage::helper('ThemeOptionsBizarre/Retina')->getRetinaData('small_logo_custom'); ?> alt="<?php echo $customlogo['logo_alt']; ?>" /></a></h2>
				<?php endif; ?>
				<?php echo $this->getChildHtml('topMenu') ?>
				<div class="menu-button"><span><?php echo Mage::helper('ThemeOptionsBizarre')->getIcon('mobilemenu'); ?><?php echo $this->__('Menu'); ?></span></div>
				<div class="header-right<?php if($toplinks['displayas'] == 1){echo ' simple-list';} if(Mage::getSingleton('customer/session')->isLoggedIn()==1){echo ' logged-in sticky-user-name';} if($toplinks['accountlink'] == 1){echo ' accountlink';} if($toplinks['wishlistlink'] == 1){echo ' wishlistlink';} if($toplinks['cartlink'] == 1){echo ' cartlink';} if($toplinks['checkoutlink'] == 1){echo ' checkoutlink';} if($toplinks['loginlink'] == 1){echo ' loginlink';} ?>">
					<div class="search-button">
					<?php echo Mage::helper('ThemeOptionsBizarre')->getIcon('search'); ?>
					</div>
					<?php echo $this->getChildHtml('topSearch') ?>
					<?php
					if (Mage::getSingleton('customer/session')->isLoggedIn() == 1): 
						echo '<span class="customer-name"><span class="user">'. Mage::helper('ThemeOptionsBizarre')->getIcon('account') . '</span><strong>' . $customer->getCustomer()->getName() . '</strong><span class="arrow"><i class="fa fa-th-list"></i></span></span>';
					endif;
					?>
					<?php echo $this->getChildHtml('topLinks') ?>					
					<?php echo $this->getChildHtml('cart_sidebar'); ?>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</header>