<?php
$imgPath = Mage::getBaseUrl('media')."layouts/images/";
$imgRetinaPath = Mage::getBaseUrl('media')."layouts/retinaimages/";
$helper = Mage::helper('cms');
$processor = $helper->getBlockTemplateProcessor();
?>
<hr class="indent-40 white-space" />
<div class="grid_3 alpha home-sidebar">
	<?php
	$home_left_1 = $this->getLayouts()->addBlockKeyFilter('home_left_1')->getFirstItem();
	if($home_left_1->getLayoutsId()):
	?>
	<div class="text-banner">		
		<a href="<?php echo $home_left_1->getLink() ?>" title="<?php echo $home_left_1->getTitle() ?>"><img src="<?php echo $imgPath.$home_left_1->getImage() ?>" data-srcX2="<?php echo $imgRetinaPath.$home_left_1->getImageRetina() ?>" alt="<?php echo $home_left_1->getTitle() ?>" /></a>
		<div class="text-banner-content">
			<?php echo $processor->filter($home_left_1->getContent()) ?>
			<a class="banner-link" href="<?php echo $home_left_1->getLink() ?>"><?php echo $home_left_1->getTitle() ?><i class="fa fa-angle-right"></i></a>
		</div>
	</div>
	<?php endif; ?>
	<hr class="indent-18 white-space" />
	<?php
	$home_left_2 = $this->getLayouts()->addBlockKeyFilter('home_left_2')->getFirstItem();	
	if($home_left_2->getLayoutsId()):
	?>
	<div class="address-block">
		<div class="image">
			<img src="<?php echo $imgPath.$home_left_2->getImage() ?>" data-srcX2="<?php echo $imgRetinaPath.$home_left_2->getImageRetina() ?>" alt="<?php echo $home_left_2->getTitle() ?>" />
		</div>
		<div class="text-banner">
			<span class="banner-title"><i class="fa fa-thumb-tack"></i><strong><?php echo $home_left_2->getTitle() ?></strong></span>
			<?php echo $processor->filter($home_left_2->getContent()) ?>
		</div>
	</div>
	<?php endif; ?>
	<hr class="indent-18 white-space" />
	<?php
	$home_today_sales = $this->getLayouts()->addBlockKeyFilter('home_today_sales')->getFirstItem();	
	if($home_today_sales->getLayoutsId()):
	?>	
	<header class="widget-title"><h2><?php echo $home_today_sales->getTitle() ?></h2></header>
	<?php echo $processor->filter($home_today_sales->getContent()) ?>
	<?php endif; ?>
</div>
<div class="grid_9 omega">
	<div class="banners">
		<?php
		$home_contenttop_1 = $this->getLayouts()->addBlockKeyFilter('home_contenttop_1')->getFirstItem();	
		if($home_contenttop_1->getLayoutsId()):
		?>
		<div class="banner">
			<a href="<?php echo $home_contenttop_1->getLink() ?>" title="<?php echo $home_contenttop_1->getTitle() ?>"><img src="<?php echo $imgPath.$home_contenttop_1->getImage() ?>" data-srcX2="<?php echo $imgRetinaPath.$home_contenttop_1->getImageRetina() ?>" alt="<?php echo $home_contenttop_1->getTitle() ?>" /></a>
			<div class="banner-content">
				<?php echo $processor->filter($home_contenttop_1->getContent()) ?>
			</div>
		</div>
		<?php endif; ?>
		<?php
		$home_contenttop_2 = $this->getLayouts()->addBlockKeyFilter('home_contenttop_2')->getFirstItem();	
		if($home_contenttop_2->getLayoutsId()):
		?>
		<div class="banner">
			<a href="<?php echo $home_contenttop_2->getLink() ?>" title="<?php echo $home_contenttop_2->getTitle() ?>"><img src="<?php echo $imgPath.$home_contenttop_2->getImage() ?>" data-srcX2="<?php echo $imgRetinaPath.$home_contenttop_2->getImageRetina() ?>" alt="<?php echo $home_contenttop_2->getTitle() ?>" /></a>
			<div class="banner-content">
				<?php echo $processor->filter($home_contenttop_2->getContent()) ?>
			</div>
		</div>
		<?php endif; ?>
		<?php
		$home_contenttop_3 = $this->getLayouts()->addBlockKeyFilter('home_contenttop_3')->getFirstItem();	
		if($home_contenttop_3->getLayoutsId()):
		?>
		<div class="banner">
			<a href="<?php echo $home_contenttop_3->getLink() ?>" title="<?php echo $home_contenttop_3->getTitle() ?>"><img src="<?php echo $imgPath.$home_contenttop_3->getImage() ?>" data-srcX2="<?php echo $imgRetinaPath.$home_contenttop_3->getImageRetina() ?>" alt="<?php echo $home_contenttop_3->getTitle() ?>" /></a>
			<div class="banner-content">
				<?php echo $processor->filter($home_contenttop_3->getContent()) ?>
			</div>
		</div>
		<?php endif; ?>
		<div class="clear"></div>
	</div>
	<hr class="indent-36 white-space" />
	<?php
	$home_center_products = $this->getLayouts()->addBlockKeyFilter('home_center_products')->getFirstItem();	
	if($home_center_products->getLayoutsId()):
	?>
	<header class="widget-title"><h2><?php echo $home_center_products->getTitle() ?></h2><a class="category-link" href="<?php echo $home_center_products->getLink() ?>"><?php echo $this->__('Shop Category') ?> <i class="fa fa-angle-right"></i></a></header>
	<?php echo $processor->filter($home_center_products->getContent()) ?>
	<?php endif; ?>
	<div class="clear"></div>
	<?php
	$home_contentbottom_1 = $this->getLayouts()->addBlockKeyFilter('home_contentbottom_1')->getFirstItem();	
	if($home_contentbottom_1->getLayoutsId()):
	?>
	<div class="grid_4 alpha text-banner">
		<a href="<?php echo $home_contentbottom_1->getLink() ?>" title="<?php echo $home_contentbottom_1->getTitle() ?>"><img src="<?php echo $imgPath.$home_contentbottom_1->getImage() ?>" data-srcX2="<?php echo $imgRetinaPath.$home_contentbottom_1->getImageRetina() ?>" alt="<?php echo $home_contentbottom_1->getTitle() ?>" /></a>
		<div class="text-banner-content skin-2">
			<?php echo $processor->filter($home_contentbottom_1->getContent()) ?>
		</div>
	</div>
	<?php endif; ?>
	<hr class="indent-18 white-space mobile" />
	<?php
	$home_contentbottom_2 = $this->getLayouts()->addBlockKeyFilter('home_contentbottom_2')->getFirstItem();	
	if($home_contentbottom_2->getLayoutsId()):
	?>
	<div class="grid_5 omega text-banner">
		<a href="<?php echo $home_contentbottom_2->getLink() ?>" title="<?php echo $home_contentbottom_2->getTitle() ?>"><img src="<?php echo $imgPath.$home_contentbottom_2->getImage() ?>" data-srcX2="<?php echo $imgRetinaPath.$home_contentbottom_2->getImageRetina() ?>" alt="<?php echo $home_contentbottom_2->getTitle() ?>" /></a>
		<div class="text-banner-content skin-1">
			<?php echo $processor->filter($home_contentbottom_2->getContent()) ?>
		</div>
	</div>
	<?php endif; ?>
</div>
<div class="clear"></div>
<hr class="indent-36" />
<?php
$home_bottom_products = $this->getLayouts()->addBlockKeyFilter('home_bottom_products')->getFirstItem();	
if($home_bottom_products->getLayoutsId()):
?>
<header class="widget-title"><h2><?php echo $home_bottom_products->getTitle() ?></h2><a class="category-link" href="<?php echo $home_bottom_products->getLink() ?>"><?php echo $this->__('Shop Category') ?> <i class="fa fa-angle-right"></i></a></header>
<?php echo $processor->filter($home_bottom_products->getContent()) ?>
<?php endif; ?>
<hr class="indent-18 white-space" />
<div class="newsletter-wrapper">
	<?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setBlockId('wide.newsletter')->setTemplate('newsletter/wide_subscribe.phtml')->toHtml() ?>
</div>