<?php
/**
 * Custom tab template
 */
?>


<div class="entry-edit">
    
    <div class="entry-edit-head">
       <h4 class="icon-head head-edit-form fieldset-legend">Booking & Reservations</h4>
    </div>
    
    <div id="group_fields7" class="fieldset fieldset-wide">
            <div class="hor-scroll">
                        
            </div>
    </div>
    
</div>
    
    
