<?php if($this->getSource() instanceof Mage_Sales_Model_Order){ ?>
<?php if ((float) $this->getSource()->getHomeserviceAmountRefunded()): ?>
    <tr>
        <td class="label"><strong><?php echo Mage::helper('bookingreservation')->__('aaHome Service Charges Refunded') ?></strong></td>
        <td><?php echo $this->displayPrices($this->getSource()->getHomeserviceAmountRefunded(), $this->getSource()->getHomeserviceAmountRefunded()); ?></td>
    </tr>
<?php endif; ?>
<?php } else { ?>
<?php if ((float) $this->getSource()->getHomeserviceAmount()): ?>
    <tr>
        <td class="label"><?php echo Mage::helper('bookingreservation')->__('Home Service Charges Refunded') ?></td>
        <td><?php echo $this->displayPrices($this->getSource()->getHomeserviceAmount(), $this->getSource()->getHomeserviceAmount()); ?></td>
    </tr>
<?php endif; 
}?>

